{% extends 'base.html'%}
{% block styles%} {{ super() }}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}"> {% endblock %}
{% block content %}

<body>
  <br>
  <div class="container">
  <div class="d-flex justify-content-center">
    <div class="card-groups">
      <div class="card border-info mb-3" style="max-width: 35rem;">
        <div class="card-header">Life</div>
        <div class="card-body text-info">
          <h5 class="card-title">Pitches about life</h5>
          <p class="card-text">You only have 60 seconds to impress someone. 1 minute can make or break you,<br>make something out of it.</p>
          <button type="button" class="btn btn-outline-primary"><a href="../pitch/">Add Pitch</a></button>
          <button type="button" class="btn btn-outline-primary"><a href="/categories/life">view Pitches</a></button>
        </div>
      </div>

      <div class="card border-info mb-3" style="max-width: 35rem;">
        <div class="card-header">Coding</div>
        <div class="card-body text-info">
          <h5 class="card-title">Pitches about coding</h5>
          <p class="card-text">You only have 60 seconds to impress someone. 1 minute can make or break you,<br>make something out of it.</p>
          <button type="button" class="btn btn-outline-primary"><a href="../pitch/">Add Pitch</a></button>
          <button type="button" class="btn btn-outline-primary"><a href="/categories/coding">view Pitches</a></button>
        </div>
      </div>

      <div class="card border-info mb-3" style="max-width: 35rem;">
        <div class="card-header">Funny</div>
        <div class="card-body text-info">
          <h5 class="card-title">Funny Pitches</h5>
          <p class="card-text">You only have 60 seconds to impress someone. 1 minute can make or break you,<br>make something out of it.</p>
          <button type="button" class="btn btn-outline-primary"><a href="../pitch/">Add Pitch</a></button>
          <button type="button" class="btn btn-outline-primary"><a href="/categories/funny">view Pitches</a></button>
        </div>
      </div>

    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  {% endblock%}
</body>
